<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Project</title>
  <link rel="stylesheet" th:href="@{/cssDesign/login.css}">
  <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>

<header>
  <div style="height: 30px" class="logo">
    <a th:href="@{/}">
      <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
    </a>
  </div>
</header>

<main class="content">
  <h1>Edit Project</h1>

  <form action="#" th:action="@{/projects/edit/{pid}(pid=${pid})}" th:object="${project}" method="post">
    <p class="textbox">
      <label for="title">Project name:</label>
      <input type="text" id="title" th:field="*{title}" placeholder="Project-abc" required>
    </p>
    <p class="textbox">
      <label for="description">Description:</label>
      <input type="text" id="description" th:field="*{description}" placeholder="Project-abc is a..." required>
    </p>
    <p class="textbox">
      <label for="deadline">Deadline:</label>
      <input type="text" id="deadline" th:field="*{deadline}" placeholder="yyyy-MM-dd"  required>
    </p>
    <p class="textbox">
      <label for="duration">Duration:</label>
      <input type="text" id="duration" th:field="*{duration}" required>
    </p>
    <p class="textbox">
      <label for="PM">Project Manager:</label>
      <select class="textbox" id="PM" th:field="*{projectManager}" required>
        <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
      </select>
    </p>

    <div class="actions">
      <a th:href="@{/projects}" class="button secondary-button">Cancel</a>
      <button type="submit" class="button">Save</button>
    </div>
  </form>
</main>

</body>
</html>
