<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/cssDesign/index.css}">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
<main class="content">
    <div class="container">
        <header>
            <div style="height: 30px" class="logo">
                <a th:href="@{/}">
                    <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
                </a>
            </div>
            <div class="login">
                <a th:href="@{/}" class="button">Sign out</a>
            </div>
        </header>

        <div class="main">
            <h1>Admin Dashboard</h1>
            <p>Manage users and projects</p>

            <div class="actions">
                <a class="button" th:href="@{/admin/users}">Manage Users</a>
                <a class="button" th:href="@{/projects}">Manage Projects</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
