<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subprojects</title>
    <link rel="stylesheet" th:href="@{/projects.css}">
</head>
<body>
<header>
    <a class="signoutbutton" th:href="@{/}">Sign out</a>
    <div class="logo">
        <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
    </div>
</header>
<h1 class="header1">Your Subprojects: </h1>
<div class="flex-center">
    <a class="add-wish" th:href="@{'/projects/' + ${pid} + '/subprojects/add'}">Add subproject</a>
</div>
<table class="table">
    <tr>
        <th class="th">Done</th>
        <th class="th">Projects</th>
        <th class="th">Deadline</th>
        <th class="th">Duration</th>
        <th class="th">Priority</th>
        <th class="th">Actions</th>
    </tr>
    <tr th:each="subproject : ${subprojects}">
        <td class="td checked">
            <form th:action="@{'/projects/' + ${subproject.projectId} + '/subprojects/toggleChecked/' + ${subproject.id}}" method="post">
                <input type="checkbox"
                       name="checked"
                       th:checked="${subproject.checked}"
                       onchange="this.form.submit()" />
            </form>
        </td>

        <td class="td title" th:text="${subproject.title}"></td>
        <td class="td deadline" th:text="${subproject.deadline}"></td>
        <td class="td duration" th:text="${subproject.duration}"></td>
        <td class="td createdBy" th:text="${subproject.priority}"></td>
        <td>
            <a class="links-button" th:href="@{'/projects/' + ${subproject.projectId} + '/subprojects/' + ${subproject.id}}">Choose</a>
            <a class="links-button" th:href="@{'/projects/' + ${subproject.projectId} + '/subprojects/edit/' + ${subproject.id}}">Edit</a>
            <form th:action="@{'/projects/' + ${subproject.projectId} + '/subprojects/delete/' + ${subproject.id}}" method="post" style="display: inline">
                <button class="links-buttondelete" type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<div style="margin-top: 20px; text-align: left;">
    <a class="links-button" th:href="@{'/projects'}">← Back</a>
</div>
</body>
</html>