<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login session</title>
    <link rel="stylesheet" th:href="@{/cssDesign/login.css}">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
<header>
    <div style="height: 30px" class="logo">
        <a th:href="@{/}">
            <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
        </a>
    </div>
</header>

<main class="content">
    <h1>Login</h1>
    <form th:action="@{/users/login}" method="post">
        <p th:if="${wrongCredentials}" class="error">Wrong email or password</p>
        <p class="textbox">
            <label>Email:</label>
            <input name="email" type="text" placeholder="something@example.com" autofocus>
        </p>
        <p>
            <label>Password:</label>
            <input name="password" type="password" placeholder="Password">
        </p>
        <div class="actions">
            <a class="button secondary-button" th:href="@{/}">Cancel</a>
            <button type="submit" class="button">Login</button>
        </div>
    </form>
</main>
</body>
</html>
