<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login session</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
    </div>
</header>

<main class="content">
    <h1>Login</h1>
    <form th:action="@{/users/login}" method="post">
        <p th:if="${wrongCredentials}" class="error">Forkert brugerid eller password</p>
        <p class="textbox">
            <label>Email:</label>
            <input name="email" type="text" autofocus>
        </p>
        <p>
            <label>Password:</label>
            <input name="password" type="password">
        </p>
        <div class="actions">
            <a class="button secondary-button" th:href="@{/}">Cancel</a>
            <button type="submit" class="button">Login</button>
        </div>
    </form>
</main>
</body>
</html>
