<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subprojects</title>
    <link rel="stylesheet" th:href="@{/cssDesign/projects.css}">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
<header>
    <a class="signoutbutton" th:href="@{/}">Sign out</a>
    <div style="height: 30px" class="logo">
        <a th:href="@{/}">
            <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
        </a>
    </div>
</header>
<h1 class="header1" th:text="${projectName} + '\'s Subprojects:'"></h1>
<table class="table">
    <tr>
        <th class="th">Done</th>
        <th class="th">Subprojects</th>
        <th class="th">Deadline</th>
        <th class="th">Est. Deadline</th>
        <th class="th">Duration</th>
        <th class="th">→ Difference ←</th>
        <th class="th">Worked Hours</th>
        <th class="th">Priority</th>
        <th class="th">Actions</th>
    </tr>
    <tr th:each="subproject : ${subprojects}">
        <td class="td checked">
            <form th:action="@{/projects/{pid}/subprojects/toggleChecked/{spid}(pid=${pid}, spid=${subproject.id})}" method="post">
                <input type="checkbox"
                       name="checked"
                       th:checked="${subproject.checked}"
                       th:disabled="true"
                       onchange="this.form.submit()" />
            </form>
        </td>

        <td class="td title" th:text="${subproject.title}"></td>
        <td class="td deadline" th:text="${subproject.deadline}"></td>
        <td class="td deadline" th:text="${subproject.estDeadline}"></td>
        <td class="td duration" th:text="${subproject.duration}"></td>
        <td class="td difference" th:text="${subproject.differenceInHours}"></td>
        <p th:if="${subproject.isOverWorked()}" style="color: rebeccapurple;"
           th:text="${subproject.title} + ' has exceeded expected duration'"></p>
        <td class="td workHours" th:text="${subproject.workHours}"></td>
        <td class="td createdBy" th:text="${subproject.priority}"></td>
        <td>
            <form th:action="@{/projects/{pid}/subprojects/{spid}/tasks(pid=${subproject.projectId},spid=${subproject.id})}" method="get"
                  style="display: inline">
                <input type="hidden" name="subprojectName" th:value="${subproject.title}" />
                <button type="submit" class="links-button">Choose</button>
            </form>
        </td>
    </tr>
</table>
<div style="margin-top: 20px; text-align: left;">
    <a class="links-button" th:href="@{/projects}">← Back</a>
</div>
</body>
</html>