<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/index.css">
  <title>Alpha Solutions </title>
</head>
<body>
<div class="container">
  <header>
    <div class="logo">

    </div>
    <div class="nav-buttons">
      <button class="button">Log in</button>
      <button class="button">Sign up</button>
    </div>
  </header>

  <div class="main-content">
    <h1>Organize your team's work effortlessly with Alpha Kanban</h1>

    <p>Manage projects, collaborate easily, and get more done with Alpha Solutions'
      simple and powerful Kanban board.</p>

    <div class="actions">
      <button class="button">Get started</button>
    </div>
  </div>
</div>
</main>
</body>
</html>