<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/index.css}">
  <title>Alpha Solutions</title>
</head>
<body>
<main class="content">
  <div class="container">
    <header>
      <div class="logo">
        <img src="/img/Alphalogo.png" alt="Alpha Solutions Logo">
      </div>

      <div class="login">
        <a th:href="@{/users/login}" class="button">Log in</a>
        <a th:href="@{/users/register}" class="button">Sign up</a>
      </div>
    </header>

    <div class="main">
      <h1>Organize your team's work effortlessly with Alpha Kanban</h1>

      <p>Manage projects, collaborate easily, and get more done with Alpha Solutions'
        simple and powerful Kanban board.</p>

      <div class="actions">
        <a class="button" th:href="@{/projects}">Get started</a>
      </div>
    </div>
  </div>
</main>

</body>
</html>
